html
  head
    title #{config.application.name}
  body
    h1 #{config.application.name} version: #{config.application.version} 
    h2 endpoints:
    div
    table(cellpadding='2', cellspacing='1', border='1')
        thead
        tr: th end points
            th method(s)
        tbody
        each lnk, i in endPoints
            tr
            td 
                a(href=lnk.path, target='_blank') #{lnk.path}
            td  #{lnk.methods.join(', ')}